@import url("lightbox.css");

html,
body {
  height: 100%;
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
}

core-header-panel {
  height: 100%;
}

.toolbar {
  background: #9C27B0;
  color: white;
  width: 100%;
  height: 65px;
  font-family: 'Roboto';
  position: fixed;
  z-index: 10;
  text-align: center;
}

.ribbon-logo {
  font-family: 'Roboto';
  color: white;
  display: inline-block;
  line-height: 65px;
  font-size: 18pt;
}

core-icon-button {
  padding: 7px;
}

.cards {
  width: 870px;
  margin: 0 auto;
  display: block;
  margin-top: 80px;
}

paper-toast {
  line-height: 50px;
  font-family: 'Roboto';
  text-align: center;
}

paper-toast {
  right: 10px;
  left: auto;
}

#addButton,
#loginButton,
#logoutButton {
  float: right;
  margin: 12px 5px;
}