html,
body {
  height: 100%;
  font-family: 'Roboto';
}

* {
  margin: 0;
  padding: 0;
}

core-header-panel {
  height: 100%;
}

.toolbar {
  background: #9C27B0;
  color: white;
  width: 100%;
  height: 65px;
  font-family: 'Roboto';
  position: fixed;
  z-index: 10;
}

.ribbon-logo {
  font-family: 'Roboto';
  text-align: center;
  color: white;
  padding: 0 0 20px 0;
  position: absolute;
  margin: auto;
  width: 250px;
  top: 0;
  right: 0;
  left: 0;
  line-height: 50px;
  font-size: 18pt;
}

.ribbon-logo div {
  background: purple;
  height: 50px;
  color:#fff;
  padding: 0.5em 0;
  text-align:center;
  text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.5);
}

.ribbon-logo div:after {
  border-left: 125px solid purple;
  border-right: 125px solid purple;
  border-bottom: 20px solid transparent;
  content: '';
  bottom:0;
  left:0;
  position:absolute;
}

core-icon-button {
  padding: 7px;
}

.cards {
  width: 870px;
  margin: 0 auto;
  display: block;
  margin-top: 120px;
}

paper-toast {
  line-height: 50px;
  font-family: 'Roboto';
  text-align: center;
}

html /deep/ .enterButton {
  width: 100%;
}

html /deep/ .closeLightbox {
  float: right;
}

html /deep/ h1 {
  margin: 0;
  display: inline;
}

html /deep/ h4 {
  margin: 0;
}

html /deep/ paper-dialog {
  width: 700px;
}

html /deep/ .elements {
  width: 250px;
  float: right;
}

html /deep/ .elements * {
  width: 100%;
}

html /deep/ .reps {
  margin-right: 10%;
}

html /deep/ .half {
  width: 45%;
  margin-right: 5px;
  float: left;
}

html /deep/ .routineName {
  width: 100%;
}

html /deep/ .exerciseElements {
  margin: 10px;
}

html /deep/ .nextButton,
html /deep/ .finishButton {
  margin-top: 15px;
  float: right;
}

html /deep/ paper-radio-group {
  display: block;
  width: 500px;
}

html /deep/ paper-radio-button {
  display: inline-block;
  padding-left: 0px;
}

html /deep/ .blue::shadow #ink[checked] {
  color: #2196f3;
}

html /deep/ .blue::shadow #onRadio {
  background-color: #2196f3;
}

html /deep/ .blue[checked]::shadow #offRadio {
  border-color: #2196f3;
}

html /deep/ .red::shadow #ink[checked] {
  color: #f44336;
}

html /deep/ .red::shadow #onRadio {
  background-color: #f44336;
}

html /deep/ .red[checked]::shadow #offRadio {
  border-color: #f44336;
}

html /deep/ .pink::shadow #ink[checked] {
  color: #e91e63;
}

html /deep/ .pink::shadow #onRadio {
  background-color: #e91e63;
}

html /deep/ .pink[checked]::shadow #offRadio {
  border-color: #e91e63;
}

html /deep/ .green::shadow #ink[checked] {
  color: #4caf50;
}

html /deep/ .green::shadow #onRadio {
  background-color: #4caf50;
}

html /deep/ .green[checked]::shadow #offRadio {
  border-color: #4caf50;
}

html /deep/ .orange::shadow #ink[checked] {
  color: #ff9800;
}

html /deep/ .orange::shadow #onRadio {
  background-color: #ff9800;
}

html /deep/ .orange[checked]::shadow #offRadio {
  border-color: #ff9800;
}

html /deep/ .teal::shadow #ink[checked] {
  color: #009688;
}

html /deep/ .teal::shadow #onRadio {
  background-color: #009688;
}

html /deep/ .teal[checked]::shadow #offRadio {
  border-color: #009688;
}

html /deep/ .cyan::shadow #ink[checked] {
  color: #00bcd4;
}

html /deep/ .cyan::shadow #onRadio {
  background-color: #00bcd4;
}

html /deep/ .cyan[checked]::shadow #offRadio {
  border-color: #00bcd4;
}

html /deep/ .yellow::shadow #ink[checked] {
  color: #ffeb3b;
}

html /deep/ .yellow::shadow #onRadio {
  background-color: #ffeb3b;
}

html /deep/ .yellow[checked]::shadow #offRadio {
  border-color: #ffeb3b;
}

html /deep/ .amber::shadow #ink[checked] {
  color: #ffc107;
}

html /deep/ .amber::shadow #onRadio {
  background-color: #ffc107;
}

html /deep/ .amber[checked]::shadow #offRadio {
  border-color: #ffc107;
}

html /deep/ .purple::shadow #ink[checked] {
  color: #9c27b0;
}

html /deep/ .purple::shadow #onRadio {
  background-color: #9c27b0;
}

html /deep/ .purple[checked]::shadow #offRadio {
  border-color: #9c27b0;
}

html /deep/ .indigo::shadow #ink[checked] {
  color: #3f51b5;
}

html /deep/ .indigo::shadow #onRadio {
  background-color: #3f51b5;
}

html /deep/ .indigo[checked]::shadow #offRadio {
  border-color: #3f51b5;
}

#addButton,
#loginButton,
#logoutButton {
  float: right;
  margin: 12px 5px;
}